<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Roll</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <h1>Pay Slip</h1>
    <div id="payrollHeader">
        <p id="Pid">Pay Roll ID: <span>id</span></p>
        <p id="eid">Employee ID: <span>id</span></p>
        <p id="ename">Name: <span>name</span></p>
        <p id="eemail">Email: <span>email</span></p>
        <p id="eposition">Position: <span>Position</span></p>
        <p id="date">Date: <span>date</span></p>
    </div>
    
    <div id="paymentDetail">
        <table>
        <tr>
            <th class="earning">Earning</th>
            <th class="amount">Amount</th>
        </tr>
        <tr>
            <td>Base</td>
            <td class="amount">base salary</td>
        </tr>
        <tr>
            <td>Total OT</td>
            <td class="amount">ot</td>
        </tr>
        <tr>
            <td>Bonus</td>
            <td class="amount">bonus</td>
        </tr>
        <tr class="deduct">
            <th class="Total">Total Deduction</th>
            <td class="amount">deduct</td>
        </tr>
        <tr>
            <th>Net Pay</th>
            <td class="amount">pay</td>
        </tr>
    </table>
    </div>
    

</body>
</html>